doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Fake Login
  body
    h1 Aplikacja to symulowania logowania
    form(action= 'http://localhost:3000/auth/google', method='GET')
      p
        | First Name: 
        input(type='text', name='first_name')
      p
        | Last Name: 
        input(type='text', name='last_name')
      a(href= 'http://localhost:3000/auth/google')
        input(type='submit', value='Submit')
