doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login
  body
    h1 Twoje logowanie się powiodło witamy!!!,  #{user.displayName}
    a(href= 'http://localhost:3000')
        input(type='submit', value='Submit')
    p  kliknij przycisk by wrócić do strony głównej
